[Unit]
Description=Mailbox synchronization service
After=network.target network-online.target dbus.socket gpg-agent.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=-/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/notmuch new
